@model Intranet.Models.Projects

@{
    ViewBag.Title = "Delete Project";
}

@* ToDo: Customize this for Photo Requests *@

<h2>Delete Project</h2>

<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="row">
        @Html.HiddenFor(model => model.project_id)
        
        <div class="col-md-4">
            
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.ProjectName)
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.ProjectName)
                </div>
            </div>
            <br />&nbsp;
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.ProjectCode)
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.ProjectCode)
                </div>
            </div>
            <br />&nbsp;
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.TaskNumber)
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.TaskNumber)
                </div>
            </div>
            <br />&nbsp;
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.ContractNumber)
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.ContractNumber)
                </div>
            </div>
            <br />&nbsp;

            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.ClientID)
                </div>
                <div class="col-md-10">
                    @Html.DropDownList("ClientID", ViewData["client"] as List<SelectListItem>, "Select...", new { @disabled = "disabled" })
                </div>
            </div>
            <br />&nbsp;
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.DivisionID)
                </div>
                <div class="col-md-10">
                    @Html.DropDownList("DivisionID", ViewData["division"] as List<SelectListItem>, "Select...", new { @disabled = "disabled" })
                </div>
            </div>
            <br />&nbsp;
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.StartDate)
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.StartDate)
                </div>
            </div>
            <br />&nbsp;
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.EndDate)
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.EndDate)
                </div>
            </div>
            <br />&nbsp;            
        </div>
    </div>


    <div class="row">     
        <div class="alert alert-dismissible alert-danger">
            Are you sure you want to delete this project? It cannot be undone.
        </div>
        <div class="form-group">
            <div class="editor-label"></div>
            <div class="col-md-10">
                <input type="submit" value="Delete" name="Buttons" class="btn btn-primary" />
            </div>
        </div>
        <br />&nbsp;
        <br />&nbsp;   

        <div class="form-group">
            <div class="editor-label"></div>
            <div class="col-md-10">
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
        <br />&nbsp;
    </div>

}

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

