@model Intranet.Models.Clients

@{
    ViewBag.Title = "Client";
}

<h2>Client Request</h2>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="row">
        @*@Html.HiddenFor(model => model.ClientID)
        @Html.HiddenFor(model => model.Deleted)*@

        <div class="col-md-6">
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Client) <span class="field-required">*</span>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Client)
                    @Html.ValidationMessageFor(model => model.Client, null, new { @class = "text-danger" })
                </div>

                <br />&nbsp;
                <div class="editor-label">
                    @Html.LabelFor(model => model.Acronym) <span class="field-required">*</span>
                </div>
                <div class="col-md-10">
                    @*@Html.DropDownList("ITRequestTypeID", ViewData["ITRequestType"] as List<SelectListItem>, "Please select...")*@
                    @Html.EditorFor(model => model.Acronym)
                    @Html.ValidationMessageFor(model => model.Acronym, null, new { @class = "text-danger" })
                </div>
                <br />&nbsp;
                @*<div class="editor-label">
                    @Html.LabelFor(model => model.project_id) <span class="field-required">*</span>
                </div>
                <div class="col-md-10">
                    @Html.DropDownList("project_id", ViewData["project_id"] as List<SelectListItem>, "Please select...")
                    @Html.ValidationMessageFor(model => model.project_id, null, new { @class = "text-danger" })
                </div>*@
            </div>
        </div>
    </div>

    <div class="row">

        <div class="form-group">
            <div class="editor-label"></div>
            <div class="col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
        <br />&nbsp;
        <br />&nbsp;
        <div class="form-group">
            <div class="editor-label"></div>
            <div class="col-md-10">
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
        <br />&nbsp;
    </div>

}