@model Intranet.Models.Clients

@{
    ViewBag.Title = "Client Request";
}

<h2>Edit Client Request</h2>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    //This can be used as the Delete page too, since all we are doing for that is updating the Deleted column in the DB
    <div class="row">
        @Html.HiddenFor(model => model.ClientID)

        
        <div class="col-md-4">
            <br />&nbsp;
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Client) <span class="field-required">*</span>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Client)
                    @Html.ValidationMessageFor(model => model.Client, null, new { @class = "text-danger" })
                </div>
            </div>

            <br />&nbsp;
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Acronym) <span class="field-required">*</span>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Acronym)
                    @Html.ValidationMessageFor(model => model.Acronym, null, new { @class = "text-danger" })
                </div>
            </div>
            <br />&nbsp;
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Deleted) <span class="field-required">*</span>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Deleted)
                    @Html.ValidationMessageFor(model => model.Deleted, null, new { @class = "text-danger" })
                </div>
            </div>
            <br />&nbsp;
        </div>
    </div>

    <div class="row">

        <div class="form-group">
            <div class="editor-label"></div>
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
        <br />&nbsp;
        <br />&nbsp;
        <div class="form-group">
            <div class="editor-label"></div>
            <div class="col-md-10">
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
        <br />&nbsp;
    </div>

}
