@model Intranet.Models.WebRequests

@{
    ViewBag.Title = "Web Request";
}

<h2>Edit Web Request</h2>
<br />
@using (Html.BeginForm("ManageRequest", "WebRequests", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="row">
        @Html.HiddenFor(model => model.WebRequestID)
        @Html.HiddenFor(model => model.emp_id)
        @Html.HiddenFor(model => model.project_id)
        @Html.HiddenFor(model => model.WorkTypeID)
        @Html.HiddenFor(model => model.website_id)
        @Html.HiddenFor(model => model.WebRequestStatusID)
        @Html.HiddenFor(model => model.RequestDate)
        @Html.HiddenFor(model => model.AssignedDate)
        @Html.HiddenFor(model => model.CompletedDate)

        <div class="col-md-4">
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.WebRequestID)
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.WebRequestID)
                </div>
            </div>
            <br />&nbsp;
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.project_id) <span class="field-required">*</span>
                </div>
                <div class="col-md-10">
                    @Html.DropDownList("project_id", ViewData["project_id"] as List<SelectListItem>, "Please select...")
                    @Html.ValidationMessageFor(model => model.project_id, null, new { @class = "text-danger" })
                </div>
            </div>
            <br />&nbsp;
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.WorkTypeID) <span class="field-required">*</span>
                </div>
                <div class="col-md-10">
                    @Html.DropDownList("WorkTypeID", ViewData["WorkTypeID"] as List<SelectListItem>, "Please select...")
                    @Html.ValidationMessageFor(model => model.WorkTypeID, null, new { @class = "text-danger" })
                </div>
            </div>
            <br />&nbsp;
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.website_id) <span class="field-required">*</span>
                </div>
                <div class="col-md-10">
                    @Html.DropDownList("website_id", ViewData["website_id"] as List<SelectListItem>, "Please select...")
                    @Html.ValidationMessageFor(model => model.website_id, null, new { @class = "text-danger" })
                </div>
            </div>
            <br />&nbsp;
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.MaxHours) <span class="field-required">*</span>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.MaxHours)
                    @Html.ValidationMessageFor(model => model.MaxHours, null, new { @class = "text-danger" })
                </div>
            </div>

            <br />&nbsp;
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Comments) <span class="field-required">*</span>
                </div>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Comments, 8, 40, new { HtmlAttributes = new { } })
                    @Html.ValidationMessageFor(model => model.Comments, null, new { @class = "text-danger" })
                </div>
            </div>
            <br />&nbsp;
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.WebRequestStatusID)
                </div>
                <div class="col-md-10">
                    @Html.DropDownList("WebRequestStatusID", ViewData["WebRequestStatusID"] as List<SelectListItem>, "Select...", new { @disabled = "disabled" })
                </div>
            </div>
            <br />&nbsp;
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.RequestDate)
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.RequestDate)
                </div>
            </div>
            <br />&nbsp;
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.AssigneeID)
                </div>
                <div class="col-md-10">
                    @Html.DropDownList("AssigneeID", ViewData["AssigneeID"] as List<SelectListItem>, "Please select...")
                </div>
            </div>
            <br />&nbsp;
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.CompletedDate)
                </div>
                <div class="col-md-10">
                    @if (Model.CompletedDate != null)
                    {
                        @Html.DisplayFor(model => model.CompletedDate)
                    }
                    else
                    {
                        @System.Web.Configuration.WebConfigurationManager.AppSettings["NotCompletedText"]
                    }
                </div>
            </div>
            <br />&nbsp;
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.DevHours)
                </div>
                <div class="col-md-10">
                    @if (!Model.DevHours.Equals(DBNull.Value))
                    {
                        @Html.TextBoxFor(model => model.DevHours)
                    }
                    else
                    {
                        @System.Web.Configuration.WebConfigurationManager.AppSettings["NoDataText"]
                    }
                </div>
            </div>
            <br />&nbsp;
            @if (Model.Files.Any(f => f.FileType == FileTypes.WebRequestFileType))
            {

                <div class="form-group">
                    <div class="editor-label">
                        @Html.Label("Attachments")
                    </div>
                    <div class="col-md-10">
                        <table>

                            @foreach (var item in Model.Files)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(item.FileName, "Download", routeValues: new { id = item.FileID })
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>

            }
            <br />&nbsp;
            <div class="form-group">
                <div class="editor-label">
                    @Html.Label("Attachments")
                </div>
                <div class="col-md-10">
                    <input type="file" name="newFiles" multiple />
                </div>
            </div>
            <br />&nbsp;
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.RequestorApproved)
                </div>
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model.RequestorApproved, new { disabled = true })
                </div>
            </div>
            @*<br />&nbsp;*@
        </div>
    </div>

    <div class="row">
        <br />&nbsp;
        <div class="form-group">
            <div class="editor-label"></div>
            <div class="col-md-10">
                @if (Model.CompletedDate.HasValue == false)
                {
                    <input type="submit" value="Update" name="Buttons" class="btn btn-primary" />
                    if (Model.AssigneeID != null)
                    {
                        <input type="submit" value="Mark Complete" name="Buttons" class="btn btn-primary" />
                    }

                    <input type="submit" value="Delete" name="Buttons" class="btn btn-primary" />
                }
            </div>
        </div>
        <br />&nbsp;
        <br />&nbsp;
        <div class="form-group">
            <div class="editor-label"></div>
            <div class="col-md-10">
                @Html.ActionLink("Back to List", "ManageIndex")
            </div>
        </div>
        <br />&nbsp;
    </div>

}
<script type="text/javascript">
            $(function () {
                if (parseFloat($('#DevHours').val()) == 0) {
                    $('#DevHours').val('');
                }
            });
</script>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
