@model Intranet.Models.Holidays

@{
    ViewBag.Title = "Edit Holiday";
}

<h2>Edit Holiday</h2>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <div class="row">
        @Html.HiddenFor(model => model.HolidayID)

        
        <div class="col-md-4">
            <br />&nbsp;
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Holiday) <span class="field-required">*</span>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Holiday)
                    @Html.ValidationMessageFor(model => model.Holiday, null, new { @class = "text-danger" })
                </div>
            </div>
            <br />&nbsp;
            <div class="form-group">
                <div class="editor-label">
                    @Html.LabelFor(model => model.HolidayDate) <span class="field-required">*</span>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HolidayDate, new { id = "datetimepicker_start" })
                    @Html.ValidationMessageFor(model => model.HolidayDate, null, new { @class = "text-danger" })
                </div>
            </div>
            <br />&nbsp;
        </div>
    </div>

    <div class="row">

        <div class="form-group">
            <div class="editor-label"></div>
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
        <br />&nbsp;
        <br />&nbsp;
        <div class="form-group">
            <div class="editor-label"></div>
            <div class="col-md-10">
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
        <br />&nbsp;
    </div>
}

<script type="text/javascript">
            $(function () {
                $('#datetimepicker_start').datetimepicker({
                    daysOfWeekDisabled: [0, 6],
                    showClear: true,
                    showTodayButton: true,
                    stepping: 15
                });
            });
</script>