@model IEnumerable<Intranet.ViewModels.EditingRequestsViewModel>

@{
    ViewBag.Title = "Editing Requests";
}

<h2>My Editing Requests</h2>
@if (TempData["Message"] != null)
{
    <div class="alert alert-dismissible alert-success">@TempData["Message"]</div>
}
<br />
@using (Html.BeginForm())
{
    <input type="submit" value="Request Editing" name="Buttons" class="btn btn-primary"/>
    if (@User.IsInRole("SCGCORP\\Editing"))
    {
        <input type="submit" value="Manage Editing Requests" name="Buttons" class="btn btn-primary" />
    }
}
<br />

<table width="100%">
    <tr>
        <td>
            <div id="demo">
                <table id="datatablesRequests" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.EditingRequestID)</th>
                            <th>@Html.DisplayNameFor(model => model.CreatedDate)</th>
                            <th>@Html.DisplayNameFor(model => model.Project)</th>
                            <th>@Html.DisplayNameFor(model => model.ProjectTitle)</th>
                            <th>@Html.DisplayNameFor(model => model.ServiceRequested)</th>
                            <th>@Html.DisplayNameFor(model => model.StyleGuide)</th>
                            <th>@Html.DisplayNameFor(model => model.EditingRequestStatus)</th>
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.EditingRequestID</td>
                            <td>@item.CreatedDate.ToShortDateString()</td>
                            <td>@item.Project</td>
                            <td>@item.ProjectTitle</td>
                            <td>@item.ServiceRequested</td>
                            <td>@item.StyleGuide</td>
                            <td>@item.EditingRequestStatus</td>
                            <td>@Html.ActionLink("View", "Details", new { id = item.EditingRequestID })

                            <text>|</text>

                                @if (item.EditingRequestStatus != "Complete")
                                {
                                    @Html.ActionLink("Edit", "Edit", new { id = item.EditingRequestID })
                                }
                                else
                                {
                                    <span class="text-muted">Edit</span>
                                }

                                <text>|</text>

                                @if (item.EditingRequestStatus != "Complete")
                                {
                                    @Html.ActionLink("Delete", "Delete", new { id = item.EditingRequestID })
                                }
                                else
                                {
                                    <span class="text-muted">Delete</span>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </td>
    </tr>
</table>

